:root {
  --font-family-300: "Noto-Light";
  --font-family-400: "Noto-Regular";
  --font-family-500: "Noto-Medium";
  --font-family-700: "Noto-Bold";

  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-400);

  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-400);

  // Sizes
  --navbar-height: 50px;
  --wrapper-padding: 16px;

  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;
}
