.sidebar {
  height: calc(100vh - var(--navbar-height));
  background-color: var(--inverted-bg-color);
  width: var(--sidebar-width);
  transition: width 0.3s;

  position: relative;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switchers {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
  gap: 10px;
}

.language {
  width: 50px;
}
